body{
    background-color: rgb(242, 244, 245);
}

marquee{
<<<<<<< HEAD
    font-size: 20px;
    background: cadetblue;
}
.tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 210px;
    
}
.tarjeta-1{
    width: 10%;
    height: 200px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0 20px;
    transition: 0.3s;
}
.tarjeta-1 h2{
    font-size: 24px;
    font-family: "Rocket Script", cursive;
    color: #333;
}
.tarjeta-1:hover{
    transition: 0.3s;
    transform: translate(0, -10px);  
}
.tarjeta-2{
    width: 10%;
    height: 200px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: 0.3s;
}
.tarjeta-2 h2{
    font-size: 24px;
    font-family: "Rocket Script", cursive;
    color: #333;
}
.tarjeta-2:hover{
    transition: 0.3s;
    transform: translate(0, -10px);  
}
.tarjeta-3{
    width: 10%;
    height: 200px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0 20px;
    transition: 0.3s;
}
.tarjeta-3 h2{
    font-size: 24px;
    font-family: "Rocket Script", cursive;
    color: #333;
}
.tarjeta-3:hover{
    transition: 0.3s;
    transform: translate(0, -10px);  
}
.tarjeta-4{
    width: 10%;
    height: 200px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0 20px;
    transition: 0.3s;
}
.tarjeta-4 h2{
    font-size: 24px;
    font-family: "Rocket Script", cursive;
    color: #333;
}
.tarjeta-4:hover{
    transition: 0.3s;
    transform: translate(0, -10px);  
}
.cuadro-azul{
    margin-bottom: 800vh;
    width: 150vh;
    height: 500px;
    background-color: rgba(27, 183, 214, 0.256);
    margin: 200px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}
.texto{

    width: 70vh;
    height: 500px;
    margin-left: 30px;
    font-size: 24px;
    font-family: "Rocket Script", cursive;
    color: #d41818;
}
h3{

    font-size: 24px;
    font-family: "Rocket Script", cursive;
    color: #4032be;
}
.uno{
    font-size: 40px;
    color: black;
    font-family: Rocket Script, cursive;
}
.dos{
    font-size: 24px;
    color: black;
    font-family: Rocket Script, cursive;
}
.blanco{
    width: 25vh;
    height: 27vh;
    background-color: white;
    border-radius: 10px;
    margin-left: 74vh;
    margin-top: -320px;
}
.cuadritos{
    width: 25vh;
    height: 6vh;
    background-color: white;
    border-radius: 10px;
    margin-left: 110vh;
    margin-top: -450px;
}
.cuadritos img{
    background-color: rgb(125, 94, 94);
    box-shadow: rgba(27, 183, 214, 0.256);
    margin-top: 17px;
    width: 7vh;
    height: 4vh;
    margin-left: 10px;
}
.cuadritos2{
    width: 25vh;
    height: 6vh;
    background-color: white;
    border-radius: 10px;
    margin-left: 110vh;
    margin-top: 20px;
}
.cuadritos2 img{
    background-color: rgb(125, 94, 94);
    box-shadow: rgba(27, 183, 214, 0.256);
    margin-top: 17px;
    width: 7vh;
    height: 4vh;
    margin-left: 10px;
}
.cuadritos3{
    width: 25vh;
    height: 6vh;
    background-color: white;
    border-radius: 10px;
    margin-left: 110vh;
    margin-top: 20px;
}
.cuadritos3 img{
    background-color: rgb(125, 94, 94);
    box-shadow: rgba(27, 183, 214, 0.256);
    margin-top: 17px;
    width: 7vh;
    height: 4vh;
    margin-left: 10px;
}
.cuadritos4{
    width: 25vh;
    height: 6vh;
    background-color: white;
    border-radius: 10px;
    margin-left: 110vh;
   margin-top: 20px;
}
.cuadritos4 img{
    background-color: rgb(125, 94, 94);
    box-shadow: rgba(27, 183, 214, 0.256);
    margin-top: 17px;
    width: 7vh;
    height: 4vh;
    margin-left: 10px;
=======
    font-size: 50px;
    background: rgb(91, 163, 219);
    border-radius: 10px;
}

.barra-nav{
    height: 50px;
    background: rgb(84, 127, 164);
    border-radius: 15px;
}


ul{
    display: flex;
    justify-content: space-around;
    color: white;

}


.barra-nav a{
    color: white;
    text-decoration: none;
    list-style: none;
}

ul li a:hover{
    color: white;
}


.buscar{
    background: transparent;
    background-color: aliceblue;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 50px;
}

.buscador{
    height: 100px;
    width: 100px;
}

.contenedor-inicio{
    background-color: rgb(183, 211, 239);
    display: flex;
    border-radius: 15px;
    height: 400px;
}

.caja1{
    background-color: rgb(183, 211, 239);
    color: rgb(0, 0, 0);
    justify-content: space-between;
}

.titulo1{
    color:rgb(59, 107, 148) ;
}

.titulo2{
    color:rgb(0, 0, 0) ;
    font-size: 35px;
}

.titulo3{
    color:rgb(11, 74, 170) ;
    font-size: 30px;
}


p{
    text-align: left;
    margin: 50pxpx;
}

.imagen1{
     background-color: rgb(183, 211, 239);
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    transition: transform 1s ease;
}

img{
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 10px;
}

.imagen1:hover{
    transform: translate(20px, -10px);
>>>>>>> 3556f24defa467caf095a12934cd5ed7c6a92d62
}