body{
    background-color: rgb(221, 232, 238);
}

marquee{
    font-size: 20px;
    background: cadetblue;
    border-radius: 10px;
}

.barra-nav{
    height: 50px;
    background: rgb(84, 127, 164);
    border-radius: 15px;
}


ul{
    display: flex;
    justify-content: space-around;
    color: white;

}


ul li a:hover{
    color: white;
}


.buscar{
    background: transparent;
    background-color: aliceblue;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 50px;
}

.buscador{
    height: 50px;
    width: 50px;
}

.contenedor-inicio{
    background-color: rgb(82, 126, 170);
    display: flex;
    border-radius: 15px;
    height: 200px;
}

.caja1{
    display: flex;
    color: white;
    flex-wrap: 0.5;
    justify-content: space-around;
}